@media (max-width: 769px) {
  .logo-teddy {
    width: 100px;
    order: 1;
  }

  .doc-texts p {
    white-space: normal;
  }

  .info {
    height: auto;
  }

  tbody tr td a.btn-status {
    display: flex;
    font-size: 0.7rem;
    align-items: center;
    justify-content: center;
    width: 90px;
  }
}

@media (max-width: 555px) {
  .logo-teddy {
    justify-self: center;
    order: -1;
  }
}

@media (max-width: 390px) {
  .doc-img {
    width: 3rem;
    height: 3rem;
    font-size: 1.3rem;
    padding: 1rem;
  }

  .docs-button {
    padding: 0;
  }
  .docs button.btn-orange {
    margin-right: 0rem;
  }
}
